a {
    color: #000000;
    text-decoration: none;
    transition: color .2s ease-in-out;
}
a:hover {
    color: #111111c9;
}

.header--container-outer {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.header--nav-container {
    display: flex;
}

.header--nav-item {
    padding: 1rem;
    border-bottom: 2px solid #ffffff;
    transition: border .2s ease-in-out;
}

.header--nav-item:hover {
    border-bottom: 2px solid #000000;
}